<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/img/_Logo.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Weather | Help</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{message}}</p>
    </div>  


    {{>footer}}
</body>

</html>